<div class="container-fluid">
	<div class="row">
    	<div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>
        <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
        	<div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 logo-container">
                <div class="logo">
                	<img class="login-logo" src="images/logo.png"/>
                    <h3 class="text-center"><b>Welcome to Broker's App!</b></h3>
                </div>	
                </div>
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                	<div class="form-container">
                    	<div class="login-form text-center">
                        	<span class="text-primary login-header">LOGIN</span>
                            <div class="form-group">
                                <input ng-model="uName" name="userid" type="text" placeholder="User ID" class="form-control input-sm">
                            </div>
                            <div class="form-group">
                                <input ng-model="password" name="password" type="password" placeholder="Password" class="form-control input-sm">
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 no-padding pull -left">
                                    <div class="checkbox pull-left" >
                                        <label for="remember_me-0" style="font-size: 12px;padding-bottom: 20px;">
                                            <input type="checkbox" name="remember_me" id="remember_me-0" value="rememberme">&nbsp;&nbsp;Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="signin" name="signin" class="cust_btn btn btn-primary btn-block signin_btn" ng-click="authenticate()">SIGN IN</button>
                            </div>&nbsp;
                            <div class="col-md-12 no-padding">
                                <a href="javascript:void(0);" class="pull-left forgot-pass ">Forgot your User ID Password?</a>
                            </div>
                             <div class="col-md-12 signup-container">
                               <span>Sign Up</span> <span class='small-font'>OR</span> <img src="images/linkedin_login.png"/>


                            </div>
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>